* {
  box-sizing: border-box;
}

.main-content {
  background-color: #592c1d;
  padding: 20px 0;
  min-height: 100vh;
}

.content-card {
  margin: 0 16px;
  width: 100%;
  border-radius: 20px;
  border: 4px solid #2c160e;
}

.content-card__content-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content-card__text-content,
.content-card__image {
  flex: 1 0 100%;
  max-width: 100%;
}

.content-card__body {
  padding: 20px 0 20px 20px;
}

@media screen and (min-width: 768px) {
  .content-card__text-content {
    padding: 30px 0 30px 30px;
  }
  
  .content-card {
    margin: 0 auto;
    max-width: 600px;
  }

  .content-card__content-wrapper {
    flex-wrap: nowrap;
  }

  .content-card__text-content,
  .content-card__image {
    flex: 1 1 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .content-card__text-content {
    padding: 40px 0 40px 40px;
  }
  
  .content-card {
    max-width: 800px;
  }
}

@media screen and (min-width: 1440px) {
  .content-card__text-content {
    padding: 50px 0 50px 50px;
  }
  
  .content-card {
    max-width: 1000px;
  }
}

@media screen and (min-width: 1920px) {
  .content-card__text-content {
    padding: 60px 0 60px 60px;
  }
  
  .content-card {
    max-width: 1200px;
  }
}