.main-content {
  background-color: #592c1d;
}

.content-card {
  margin: 0 16px;
  padding: 20px;
  border-radius: 20px;
  border: 4px solid hsla(0,0%,100%,.5);
}

@media screen and (min-width: 768px) {
  .content-card {
    max-width: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .content-card {
    max-width: 800px;
  }
}

@media screen and (min-width: 1440px) {
  .content-card {
    max-width: 1000px;
  }
}

@media screen and (min-width: 1920px) {
  .content-card {
    max-width: 1200px;
  }
}